/.cargo/config.toml
/.github
/.vscode
/auth-client
/helm
/target/debug
/target/release
/.env
/!.env.test
/config.json
/!config.test.json
/tests/.dbs/
/auth-admin-service-account.json
/auth-*.db*
/docker-compose.yaml
/values.yaml

# auth-client
/auth-client/.openapi-generator
/auth-client/.openapi-generator-ignore
/auth-client/.travis.yml
/auth-client/git_push.sh
/openapitools.json