/.cargo/config.toml
/.vscode
/target
/.cargo/config.toml
/.env
/!.env.test
/config.json
/!config.test.json
/tests/.dbs/
/auth-admin-service-account.json
/auth*.db*
/values.yaml

# auth-client
/auth-client/.openapi-generator
/auth-client/.openapi-generator-ignore
/auth-client/.travis.yml
/auth-client/git_push.sh
/openapitools.json