/.vscode
/target
/.cargo/config.toml
/.env
/!.env.example
/config.json
/!config.json.example
/auth-dev.*
/auth-admin-service-account.json
/values.yaml

# client
/client/.openapi-generator
/client/.openapi-generator-ignore
/client/.travis.yml
/client/git_push.sh
/openapitools.json