/*
 * auth
 *
 * Aicacia Auth API provides authentication services for applications.
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::sync::Arc;
use std::borrow::Borrow;
use std::pin::Pin;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use hyper_util::client::legacy::connect::Connect;
use futures::Future;

use crate::models;
use super::{Error, configuration};
use super::request as __internal_request;

pub struct Oauth2ApiClient<C: Connect>
    where C: Clone + std::marker::Send + Sync + 'static {
    configuration: Arc<configuration::Configuration<C>>,
}

impl<C: Connect> Oauth2ApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    pub fn new(configuration: Arc<configuration::Configuration<C>>) -> Oauth2ApiClient<C> {
        Oauth2ApiClient {
            configuration,
        }
    }
}

pub trait Oauth2Api: Send + Sync {
    fn create_oauth2_url(&self, provider: &str, register: Option<bool>) -> Pin<Box<dyn Future<Output = Result<String, Error>> + Send>>;
    fn oauth2_callback(&self, provider: &str, state: &str, code: &str, scope: Option<&str>) -> Pin<Box<dyn Future<Output = Result<(), Error>> + Send>>;
}

impl<C: Connect>Oauth2Api for Oauth2ApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    #[allow(unused_mut)]
    fn create_oauth2_url(&self, provider: &str, register: Option<bool>) -> Pin<Box<dyn Future<Output = Result<String, Error>> + Send>> {
        let mut req = __internal_request::Request::new(hyper::Method::POST, "/oauth2/{provider}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: true,
                in_query: false,
                param_name: "Tenant-ID".to_owned(),
            }))
        ;
        if let Some(ref s) = register {
            let query_value = s.to_string();
            req = req.with_query_param("register".to_string(), query_value);
        }
        req = req.with_path_param("provider".to_string(), provider.to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn oauth2_callback(&self, provider: &str, state: &str, code: &str, scope: Option<&str>) -> Pin<Box<dyn Future<Output = Result<(), Error>> + Send>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/oauth2/{provider}/callback".to_string())
        ;
        req = req.with_query_param("state".to_string(), state.to_string());
        req = req.with_query_param("code".to_string(), code.to_string());
        if let Some(ref s) = scope {
            let query_value = s.to_string();
            req = req.with_query_param("scope".to_string(), query_value);
        }
        req = req.with_path_param("provider".to_string(), provider.to_string());
        req = req.returns_nothing();

        req.execute(self.configuration.borrow())
    }

}
